@inherits LayoutComponentBase

<PageTitle>Lé Drink</PageTitle>

<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

    html, body {
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

</style>
